/* CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS */

:root {
    font-size: 20px;
    --primary-clr: #000814;
    --bacgkround-clr: #003566;
    --accent-clr: #034f95;
}

body {
    color: var(--primary-clr);
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    letter-spacing: 0.05em;
}

button {
    font-size: 1rem;
    padding: 0.33em 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-box {
    width: 400px;
    padding: 40px 80px;
    box-shadow: 0em 0.5em 0.75em -0.1em rgba(2, 2, 33, 0.6);
    display: flex;
    justify-content: center;
}

li {
    margin: 0.5em 0em;
}

button {
    background-color: var(--bacgkround-clr);
    color: #fff;
    border-radius: 0.5em;
    margin-top: 1.25em;
    border: 3px solid transparent;
    transition: background 200ms ease-in-out;
}

button:hover {
    cursor: pointer;
    background: var(--accent-clr);
}